.column {}

.card {
    align-items: center;
    border-radius: 50px;
    margin: 20px;
}

.card img {
    margin-top: 10px;
    border: 2px solid #121212;
}

.card h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.card p {
    text-align: center;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.footer-main {
    position: fixed;
}