html {
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

.wrapper-main {
    width: 1700px;
    padding: 100px 0;
    margin: 0 auto;
    border: 4px solid;
}

h1 {
    font-style: 9.2rem;
}

p {
    font-style: 2.6rem;
}