:root {
  --site-color-01: #355a20;
  --site-color-01-hover: #0e2401;
  background-image: url(../Photos/Website\ BG.jpg);
}

@font-face {
  font-family: "Holy Smokes";
  src: url(../Fonts/Holy\ Smokes.woff);
}

body {
  background-color: #1e1e1e;
}

.wrapper-main {
  width: 1000;
  margin: 0 auto;
}

h1 {
  display: flex;
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

h2 {
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  display: flex;
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

h6 {
  font-size: 30px;
  align-items: center;
}

p {
  font-size: 14px;
  line-height: 18px;
  font-family: "Times New Roman", Times, serif;
}

a {
  line-height: 18px;
  color: #fff;
  font-family: "Holy Smokes";
  cursor: pointer;
}

/**
* ! NAVBAR STYLE STARTS HERE !
**/
.header-main {
  top: 0;
  width: 100%;
  height: 65px;
  background-color: #586f56;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main-logo {
  width: fit-content;
  height: 100%;
  background-color: #000;
  display: flex;
}

.header-main-logo img {
  height: 65px;
  align-self: center;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
}

.header-main-nav ul {
  list-style: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header-main-nav ul li {
  display: inline;
  float: left;
}

.header-main-nav ul li a {
  padding: 0px 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  line-height: 60px;
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
  justify-content: space-between;
}

.header-main-nav ul li a:hover {
  color: #19c5099a;
}

.button {
  margin-right: 25px;
  padding: 10px 10px;
  font-size: 30px;
  background-color: green;
  color: white;
  border-radius: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.main-button {
  margin-right: 25px;
  padding: 10px 10px;
  font-size: 30px;
  background-color: green;
  color: white;
  border-radius: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.header-main-sm {
  margin-top: 15px;
  height: 100px;
  background-color: var(--site-color-01-hover);
  margin-bottom: 50px;
  padding-top: 30px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-main-sm-fb {
  width: 25px;
  height: 25px;
  background-image: url(../Photos/Social\ Icons/facebook-color.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-fb:hover {
  cursor: pointer;
  background-image: url(../Photos/Social\ Icons/facebook.png);
}

.header-main-sm-in {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-image: url(../Photos/Social\ Icons/instagram-color.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-in:hover {
  cursor: pointer;
  background-image: url(../Photos/Social\ Icons/instagram.png);
}

/**
* !FOOTER STYLE HERE
**/
.footer-main-wrapper {
  width: 300px;
  margin: 0 auto;
}

.footer-main-wrapper {
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  bottom: 0;
  background-color: #111;
}

.footer-main {
  width: 100%;
  padding: 20px 50px;
  background-color: #141414;
}

.footer-main-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}

/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}

/**
*! Slider for MAIN PAGE
**/
main .main-intro h1 {
  font-size: 75px;
  line-height: 106px;
}

main p {
  font-size: 18px;
  line-height: 30px;
}

main a {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  width: fit-content;
}

/* Slider */
.slide-1 {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Photos/Food/Ghost\ Burger.jpg);
  background-size: cover;
}

.slide-2 {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Photos/Food/Chicken\ Sandwich.jpg);
  background-size: cover;
}

/**
* ! Footer Styles
**/
.footer-main {
  position: fixed;
}

.footer-bookus {
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #fff;
  font-weight: 600;
  transition: all ease-in-out 200ms;
  font-size: 20px;
  text-decoration: none;
}

.footer-bookus:hover {
  border: 4px solid var(--site-color-01-hover);
}

.footerBottom {
  background-color: #000;
  margin-top: 10px;
  padding: 15px;
}

.footerBottom p {
  text-align: center;
  color: white;
}

.dsigner {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px) {
  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
}

.burger-menu,
.burger-menu-btn {
  display: none;
}

/**
* ! mobile version
**/

@media only screen and (max-width: 600px) {

  .burger-menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../Photos/icons/hamburger.png), url(../Photos/icons/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
  }

  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #111;
  }

  .burger-menu ul {
    width: 100%;
    height: calc(100vh-60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }

  .burger-menu ul li:last-child {
    border-top: 2px solid #000;
  }

  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    text-align: center;
  }

  .wrapper-main {
    width: calc(100%-20px)
  }

  .header-main-logo {
    size: 50px;
  }

  .header-main-nav {
    position: fixed;
    display: none;
  }

  .button {
    display: none;
  }

  .main-button {
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
  }

  .header-main-sm {
    padding-right: 20px;
  }

  /* Slider */
  .slide-1 {
    width: fit-content;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Photos/Food/Ghost\ Burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slide-2 {
    width: fit-content;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Photos/Food/Chicken\ Sandwich.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  h1 {
    align-items: center;
  }

  h3 {
    align-items: center;
  }

  .footer-main {}

  .footerBottom {
    background-color: #000;
    margin-top: 10px;
    padding: 10px;
  }