@font-face {
    font-family: "Holy Smokes";
    src: url(../Fonts/Holy\ Smokes.woff);
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: black;
    background-image: url(../Photos/Website\ BG.jpg);
    background-size: cover;
    background-position: center;
}


body h1 {
    position: relative;
    left: 225px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Holy Smokes';
    color: white;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h2 {
    font-family: serif;
    position: relative;
    left: 250px;
}

h6 {
    position: relative;
    left: 250px;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    margin: 10px;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    box-sizing: border-box;
    border: 2px solid #212529;
    position: relative;
    background-color: white;
    padding: 10px;
    margin-right: 565px;
    left: 250px;
}

.content img {
    width: 400px;
    padding: 20px;
    margin-bottom: 10px;
}

.content h3 {
    margin-left: 25px;
    color: black;
}

.content h4 {
    text-align: center;
    color: black;
}

.content p {
    text-align: center;
    color: black;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1100px) {
    .column {
        width: 100%;
    }

    /* Content */
    .content {
        width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 730px) {
    .column {
        width: 100%;
    }

    /* Content */
    .content {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }

    /* Content */
    .content {
        width: 100%;
    }

}