html {
    font-style: 62.5%;
}

body {
    background-color: #111;
    color: #fff;
    text-align: center;
    align-items: center;
}

.wrapper-main {
    width: 1000px;
    padding: 100px 0;
    margin: 0 auto;
    border: 4px solid blue;
    align-items: center;
}

h1 {
    font-style: 9.2rem;
}

p {
    font-style: 2.6rem;
}

a {
    display: block;
    width: fit-content;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin: 20px auto 0;
    font-style: 2.6rem;
}

@media only screen and (max-width: 600px) {

    .wrapper-main {
        width: 100%;
        background-color: orange;
    }

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

    .wrapper-main {
        width: 100%;
        background-color: red;
    }

}


/* <600px, 601px, 768px, 992, 1700px*/